<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="demoqa" verbose="1" thread-count="1" parallel="tests" preserve-order="true">

    <parameter name="browser" value="CHROME"/>

    <test name="feeds" parallel="false" thread-count="1" preserve-order="true">
        <classes>
            <class name="demoqa.VerifyGeneralMenu"/>
        </classes>
    </test>

</suite>